<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 80%
}
.column {
  float: left;
  width: calc(33%-200px);
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  width: calc(100%-200px);
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  float: center;
}

.container {
  padding: 0 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

.new_container::after, .new_row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;

}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
