@media (min-width: 801px) {
  #rec-button {
      width: 24px;
      height: 24px;
  }
  #rec-button-wrapper {
    text-align: center;
  }

  body {
    background-color: #000;
    background-image: url("https://i.pinimg.com/originals/e7/44/30/e74430372077a845c48698bf963014b2.jpg");
    background-size: cover;
    background-position: top center;
  }
  #content {
      margin-left: 10px;
      margin-right: 10px;
  }
  
  .main_part {
    width: 100%;
  }

  .conversation {
    width: 100%;
    height: 300px;
    overflow: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #fff;
    resize: none;
  }
  .container{
    display: flex;
  }

  .main_part{
    width: auto;
    flex-grow:2;
  }
  .sidebar_part{
    align-self: right;
    width:200px;
  }
  #description {
    font-size: 18px;
    margin-right: 220px;
}
}
@media (max-width: 800px) {
h1 {
        background: url(images/background.png);
        background-color: rgb(237, 248, 79);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Asap Condensed, monospace;
        height: 50px
    }
    #rec-button {
        width: 24px;
        height: 24px;
    }
    #rec-button-wrapper {
      text-align: center;
    }
    #content {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #000;
      border-radius: 4px;
      background-color: #fff;
      resize: none;
    }
    .container{
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
    .main_part{
      width: 401px;
      flex-grow:2;
    }
    #description {
      font-size: 18px;
      margin-right: 220px;
  }
}

/* MENU STYLES */


a
{
text-decoration: none;
color: black;

transition: color 0.3s ease;
}

a:hover
{
color: rgb(52, 52, 56);
}

#menuToggle
{
display: block;
position: absolute;
top: 50px;
right: 50px;

z-index: 1;

-webkit-user-select: none;
user-select: none;
}

#menuToggle input
{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0; 
z-index: 2;

-webkit-touch-callout: none;
}

#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: #cdcdcd;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: black;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
opacity: 1;
transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
position: absolute;
width: 300px;
margin: -100px 0 0 0;
padding: 50px;
padding-top: 160px;
right: -100px;

background: white;
list-style-type: none;    
transform-origin: 0% 0%;
transform: translate(100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
padding: 10px 0;
font-size: 22px;
}

#menuToggle input:checked ~ ul
{
transform: none;
opacity: 1;
}

@media screen and (max-width: 768px) {
#menu {
  transform: none;
  opacity: 0;

  transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
}

/* Header */

#header {
text-align: center;
padding: 6em 0 4em 0;
}

#header h1 {
  color: rgba(255, 255, 255, 0.65);
}

#header .avatar {
  border-radius: 100%;
  display: inline-block;
  margin: 0 0 2em 0;
  padding: 0.5em;
  border: solid 1px rgba(238, 232, 232, 0.986);
  background-color: rgb(255, 255, 255);
}

  #header .avatar img {
    border-radius: 100%;
    display: block;
    width: 20em;
  }

@media screen and (max-width: 1280px) {

  #header {
    padding: 4em 0 2em 0;
  }

}
/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: center;
}